.preview-page {
  font-size: 1.5vh;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;

  & .branch-form-preview {
    padding: 2vh;
    max-width: inherit;
  }
  & .table-view {
    padding: 2vh;
    margin-top: 1vh;
  }
  & .form-header {
    font-size: 4vh;
    padding: 1vh;
    margin-bottom: 1vh;
  }
  & h5 {
    font-size: 1.5vh;
  }
  & .h6 {
    font-size: 1.5vh;
  }
  & .list-group {
    margin-bottom: 1.5vh;
  }
  & .form-head {
    font-size: 1.5vh;
    margin-bottom: 1vh;
  }
  & .g-4,
  .gy-4 {
    --bs-gutter-y: 0;
  }
  & .list-group-item {
    padding: 0.25vh 0;
  }
  & .mb-4 {
    margin-bottom: 1vh !important;
  }
}
