.preview-page {
  font-size: 1.125vh;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  line-height: 1;
  background: #fee4e3;
  & .signature {
    width: 10vh;
  }
  & ul,
  & ol {
    margin-bottom: 0.5vh;
    padding: 0 0 0 25px;
  }
  & li {
    margin-bottom: 0.2vh;
  }
  & p {
    margin-bottom: 0.5vh;
  }
  & .table-view {
    margin-bottom: 0;
    & .dynamic-table {
      & td {
        padding: 0.2vh 0.5vh;
        font-size: 1vh;
        &:nth-child(2n) {
          padding: 0.2vh 1vh;
        }
      }
      & .form-head {
        font-size: 1.25vh;
      }
    }
    & .notice-table {
      & th,
      & td {
        padding: 0.2vh 0.5vh;
        font-size: 1vh;
      }
    }
  }
  & hr {
    margin: 1vh 0;
  }
  & .form-sub-title {
    font-size: 1.5vh;
    margin-bottom: 0.5vh;
  }

  & .text-muted {
    color: #ef7d1a !important;
  }
  & .form-logo img {
    width: 20vh;
  }
  & .form-sign {
    width: 10vh;
  }
  & .branch-form-preview {
    padding: 2vh;
    max-width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  & .form-header {
    font-size: 3vh;
    padding: 0.7vh;
    margin-bottom: 0.5vh;
    border-radius: 1vh !important;
    & h1 {
      font-size: 3vh;
      margin: 0;
    }
  }

  & .list-group {
    margin-bottom: 1.25vh;
    &-item {
      color: #000;
    }
  }

  & .g-4,
  .gy-4 {
    --bs-gutter-y: 0;
  }
  & .list-group-item {
    padding: 0.25vh 0;
  }
  & .mb-4 {
    margin-bottom: 1vh !important;
  }
}
