@use "sass:color";
@use "../abstracts/variables";
@use "../abstracts/mixins";
.app-sidebar {
  width: 250px;
  height: 100%;
  background-color: variables.$white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  transition-duration: 0.3s;
  z-index: 100;
  @include mixins.respond(deviceMd) {
    width: 100%;
    height: auto;
    background-color: variables.$purple;
    padding-left: 50px;
  }
  &-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: variables.$black;
    padding: 0 1.5rem;
    display: flex;
    min-height: 60px;
    max-height: 60px;
    align-items: center;
    text-decoration: none;
    position: relative;
    width: 100%;
    transition-duration: 0.3s;
    background: variables.$purple;
    @include mixins.respond(deviceMd) {
      width: auto;
      padding: 0;
    }
    & img {
      max-height: 60px;
    }
    & .is-icon {
      display: none;
    }
  }
  &-nav {
    position: relative;
    height: 100%;
    width: 100%;
    @include mixins.respond(deviceMd) {
      position: fixed;
      left: -250px;
      top: 60px;
      opacity: 0;
      visibility: hidden;
      background: variables.$white;
      width: 250px;
      height: calc(100% - 60px);
      box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.1);
      transition-duration: 0.4s;
    }
    & .nav {
      padding: 1rem 0;
      overflow-y: auto;
      overflow-x: hidden;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: block;
      &-link {
        color: #374151;
        font-size: 0.875rem;
        padding: 0 0.9rem;
        line-height: 38px;
        display: flex;
        align-items: center;
        font-weight: 500;
        border-left: solid 5px transparent;
        margin-bottom: 0.25rem;
        &-icon {
          min-width: 2rem;
          font-size: 1.25rem;
          display: inline-flex;
          transition-duration: 0.3s;
        }
        &-text {
          flex-grow: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          transition-duration: 0.3s;
        }
        &.active {
          color: variables.$primary;
          border-color: variables.$primary;
          font-weight: 600;
        }
      }
    }
  }

  & .toggle-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    display: none;
  }
}

.sidebar-collapse {
  & .app-sidebar {
    &-nav {
      left: 0;
      opacity: 1;
      visibility: visible;
    }
  }
}
.btn-logout {
  @include mixins.respond(deviceMd) {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    width: auto !important;
  }
}
